{% load static %}
<!-- body -->
<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="{% static 'images/loading.gif' %}" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-9 col-md-9 col-sm-9">
                    <div class="menu-area">
                        <div class="limit-box">
                        <nav class="main-menu">
                            <ul class="menu-area-main">
                                <li class="active"> <a href="{% url 'index' %}">Home</a> </li>
                                <li> <a href="{% url 'nosotros' %}">Acerca De</a> </li>
                                <li><a href="{% url 'apps.posts:posts' %}">Posts</a></li>
                                <li><a href="{% url 'apps.posts:categoria_list' %}">Categorías</a></li>
                                <li><a href="{% url 'apps.contacto:contacto' %}">Contacto</a></li>
                                {% if user.is_superuser %}
                                <li><a style="color: darkblue;" href="{% url 'apps.usuario:usuario_list' %}">Usuarios</a></li>
                                {% endif %}
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'apps.usuario:logout' %}">{% csrf_token %}{{ user.username }}: Log Out</button></a></li>
                                {% else %}
                                <li><a href="{% url 'apps.usuario:login' %}">Log In</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header inner -->
    </header>
</body>