{% extends 'base.html' %}
{% load static %} 
{% block contenido %}
      <section >
         <div id="main_slider" class="carousel slide banner-main" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#main_slider" data-slide-to="0" class="active"></li>
               <li data-target="#main_slider" data-slide-to="1"></li>
               <li data-target="#main_slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="row marginii">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="carousel-caption ">
                              <h1>Bienvenido al &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong class="color">Medio Ambiente</strong></h1>
                              <p>Adéntrate en un viaje ecológico que revela la asombrosa belleza y la fragilidad de nuestro planeta. Descubre historias inspiradoras, soluciones innovadoras y la importancia crucial de preservar nuestro medio ambiente. Juntos, construyamos un futuro sostenible.</p>
                              <a class="btn btn-lg btn-primary" href="{% url 'nosotros' %}" role="button">Acerca De</a>
                              <a class="btn btn-lg btn-primary" href="{% url 'apps.contacto:contacto' %}" role="button">Contacto</a>
                           </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="img-box">
                              <figure><img src="{% static 'images/gyufyufyu.png' %}" alt="img"/></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="row marginii">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="carousel-caption ">
                              <h1>Novedades &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <strong class="color">Posts</strong></h1>
                              <p>¡Bienvenido a nuestra comunidad interactiva! Explora, crea y comparte tus pensamientos en nuestra sección de publicaciones. Únete a la conversación, descubre nuevas perspectivas y haz que tus ideas ambientales cobren vida.</p>
                              <a class="btn btn-lg btn-primary" href="{% url 'apps.posts:posts' %}" role="button">Posts</a>
                           </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="img-box ">
                              <figure><img src="{% static 'images/gyufyufyu.png' %}" alt="img"/></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="row marginii">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="carousel-caption ">
                              <h1>Eres nuevo? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong class="color">Únete!</strong></h1>
                              <p>Conviértete en parte de nuestra comunidad ambiental. Regístrate para acceder a contenido exclusivo, participar en debates apasionantes y ser parte activa del cambio. Inicia sesión y descubre un espacio dedicado a la acción ambiental.</p>
                              <a class="btn btn-lg btn-primary" href="{% url 'apps.usuario:login' %}" role="button">Log In</a>
                              <a class="btn btn-lg btn-primary" href="{% url 'apps.usuario:registrar' %}" role="button">Registrarse</a>
                           </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="img-box">
                              <figure><img src="{% static 'images/gyufyufyu.png' %}" alt="img"/></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class='fa fa-angle-left'></i></a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class='fa fa-angle-right'></i>
            </a>
         </div>
      </section>
      <!--Gallery -->
      <div id="gallery" class="Gallery">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Our Gallery </h2>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid margin-r-l">
         <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 thumb">
               <div class="Gallery-box">
                  <figure>
                     <a href="{% static 'images/1.jpg' %}" class="fancybox" rel="ligthbox">
                     <img  src="{% static 'images/1.jpg' %}" class="zoom img-fluid "  alt="">
                     </a>
                     <span class="hoverle">
                     <a href="{% static 'images/1.jpg' %}" class="fancybox" rel="ligthbox">View</a>
                     </span>  
                  </figure>
               </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 thumb">
               <div class="Gallery-box">
                  <figure>
                     <a href="{% static 'images/2.jpg' %}" class="fancybox" rel="ligthbox">
                     <img  src="{% static 'images/2.jpg' %}" class="zoom img-fluid "  alt="">
                     </a>
                     <span class="hoverle">
                     <a href="{% static 'images/1.jpg' %}" class="fancybox" rel="ligthbox">View</a>
                     </span>
                  </figure>
               </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 thumb">
               <div class="Gallery-box">
                  <figure>
                     <a href="{% static 'images/3.jpg' %}" class="fancybox" rel="ligthbox">
                     <img  src="{% static 'images/3.jpg' %}" class="zoom img-fluid "  alt="">
                     </a>
                     <span class="hoverle">
                     <a href="{% static 'images/3.jpg' %}" class="fancybox" rel="ligthbox">View</a>
                     </span>
                  </figure>
               </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 thumb">
               <div class="Gallery-box">
                  <figure>
                     <a href="{% static 'images/4.jpg' %}" class="fancybox" rel="ligthbox">
                     <img  src="{% static 'images/4.jpg' %}" class="zoom img-fluid "  alt="">
                     </a>
                     <span class="hoverle">
                     <a href="{% static 'images/4.jpg' %}" class="fancybox" rel="ligthbox">View</a>
                     </span> 
                  </figure>
               </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 thumb">
               <div class="Gallery-box">
                  <figure>
                     <a href="{% static 'images/5.jpg' %}" class="fancybox" rel="ligthbox">
                     <img  src="{% static 'images/5.jpg' %}" class="zoom img-fluid "  alt="">
                     </a>
                     <span class="hoverle">
                     <a href="{% static 'images/5.jpg' %}" class="fancybox" rel="ligthbox">View</a>
                     </span> 
                  </figure>
               </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
               <div class="Gallery-box">
                  <figure>
                     <a href="{% static 'images/6.jpg' %}" class="fancybox" rel="ligthbox">
                     <img  src="{% static 'images/6.jpg' %}" class="zoom img-fluid "  alt="">
                     </a>
                     <span class="hoverle">
                     <a href="{% static 'images/6.jpg' %}" class="fancybox" rel="ligthbox">View</a>
                     </span>
                  </figure>
               </div>
            </div>
         </div>
      </div>
      <!-- end Gallery -->
      {% endblock contenido %}