{% extends 'base.html' %}
{% load static %}  
{% block contenido %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- about -->
<div id="about" class="about">
    <div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="about-box">
                <h2>6</h2>
                <div class="white-bg">
                    <span>Programadores</span> 
                </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="about-box">
                <h2>100%</h2>
                <div class="white-bg">
                    <span>Comprometidos</span> 
                </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="about-box">
                <h2>+100</h2>
                <div class="white-bg">
                    <span>Horas de Trabajo</span> 
                </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="about-box">
                <div class="titlepage">
                <h2>Acerca de Nosotros</h2>
                <span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web pageweb page</span> 
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- end about -->
{% endblock contenido %}