{% extends 'base.html' %}
{% load static %}  
{% block contenido %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- about -->
<div id="about" class="about">
    <div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="about-box">
                <h2>6</h2>
                <div class="white-bg">
                    <span>Programadores</span> 
                </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="about-box">
                <h2>100%</h2>
                <div class="white-bg">
                    <span>Comprometidos</span> 
                </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="about-box">
                <h2>+100</h2>
                <div class="white-bg">
                    <span>Horas de Trabajo</span> 
                </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="about-box">
                <div class="titlepage">
                <h2>Acerca de Nosotros</h2>
                <span>En nuestro compromiso con la preservación del medio ambiente, nos enorgullece presentar esta página web ambiental, creada por Leonardo González, Tomás Bater y Noelia Carolina. Nuestra pasión por la sostenibilidad y la conservación nos impulsa a compartir información valiosa, consejos prácticos y noticias relevantes para inspirar un cambio positivo en nuestro planeta. A través de esta plataforma, buscamos fomentar la conciencia ambiental, brindar recursos para promover un estilo de vida más sostenible, y ofrecer la posibilidad de crear comentarios y publicaciones para que juntos construyamos un futuro más verde y próspero.</span> 
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- end about -->
{% endblock contenido %}