{% extends 'base.html' %}

{% block contenido %}
<center>
    {% if user.is_superuser or comentario.usuario == user %}
    <div class="container-fluid" style="margin: 300px;">
        <h1>Editar comentario</h1>
        <form method="POST" style="margin-bottom: 10px; margin-top: 100px;">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Guardar cambios">
        </form>
    </div>
    {% else %}
        <div class="container-fluid" style="margin-top: 300px;">
            <h1>Solo usuarios con permisos pueden acceder a esta página</h1>
        </div>
    {% endif %}
</center>
{% endblock %}
