{% extends 'base.html' %}

{% block contenido %}
  <h2>Restablecer contraseña</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Enviar correo electrónico</button>
  </form>
{% endblock %}
<center>
    <div class="container" stule="margin-top: 370px;">
        <div class="messages">
            {% for message in messages %}
                <table{% if message.tangs %} class="{{ message.tags }}"{% endif %}>{{ message }}</table>
            {% endfor %}
        </div>
    </div>
</center>
