{% extends 'base.html' %}
{% load static %}

<title>{% block title %} Regristro de usuario {% endblock title %}</title>

{% block contenido %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="titlepage">
    <h2>Regristro de Usuario</h2>
    <form method="POST" enctype="multipart/form-data" style="color: white;">
        <div class="messages">
            {% for message in messages %}
                <table {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</table>
            {% endfor %}
        </div>
        <br>
        {% csrf_token %}
        <div class="container-fluid">
            <table>{{ form }}</table>
        </div>
        <br><br>
        <button type="submit" class="btn btn-success btn-lg px-3">Registrar</button>
    </form>
</div>
{% endblock %}
