{% extends 'base.html' %}
{% load static %}
{% load colaborador_tags %}

{% block contenido %}
<center>
  <div class="container-fluid" style="margin: 200px;">

    {% if user.is_superuser or request.user|has_group:"Colaborador" %}
    <div class="container-fluid" style="margin-top: 300px;">
    <a id="boton_post" href="{% url 'apps.posts:crear_post' %}">Crear nuevo post</a>
    </div>
  {% endif %}

  <h2>Ordenar por:</h2>
  <ul>
      <a id="boton_post" href="{% url 'apps.posts:posts' %}?orden=reciente">Más reciente</a>
      <a id="boton_post" href="{% url 'apps.posts:posts' %}?orden=antiguo">Más antiguo</a>
      <a id="boton_post" href="{% url 'apps.posts:posts' %}?orden=alfabetico">Orden alfabetico</a>
  </ul>

    {% for i in posts %}
        <br>
        <h1>{{ i.titulo }}</h1>
        <li>{{ i.subtitulo }}</li>
        <li>{{ i.categoria }}</li>
        <br>
        <a id="boton_post" href="{% url 'apps.posts:post_individual' i.id %}">
          ingresá a este Post
        </a>
        {% empty %}
        <h1>No hay registros</h1>
    {% endfor %}
  </div>
</center>
{% endblock %}
