{% extends 'base.html' %}
{% load static %}  
{% block contenido %}
<br>
<br>
<br>
<!-- plant -->
    <div id="plant" class="plants">
        <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="titlepage">
                    <h2>Posts</h2>
                    <span>
                        <a id="boton_post" href="{% url 'apps.posts:posts' %}?orden=reciente">Más Reciente &nbsp;-</a>
                        <a id="boton_post" href="{% url 'apps.posts:posts' %}?orden=antiguo">&nbsp;Más Antiguo &nbsp;-</a>
                        <a id="boton_post" href="{% url 'apps.posts:posts' %}?orden=alfabetico">&nbsp;Orden Alfabético&nbsp;</a>
                        {% if user.is_superuser or request.user %}
                        <a id="boton_post" href="{% url 'apps.posts:crear_post' %}" style="color: green;">-&nbsp;Crear Nuevo Post</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        </div>
        <div class="container">
        <div class="row">
            {% for i in posts %}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="plants-box">
                    <!--<a id="boton_post" href="{% url 'apps.posts:post_individual' i.id %}"><figure><img src="{{posts.imagen.url}}" alt="img" /></figure></a> -->
                    <h3><a id="boton_post" href="{% url 'apps.posts:post_individual' i.id %}">{{ i.título }}</a></h3>
                    <p>{{ i.categoría }} </p>
                    <p>{{ i.subtítulo }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
    <!-- end plant -->
{% endblock contenido %}