{% extends 'base.html' %}
{% load static %}  
{% block contenido %}
<br>
<br>
<br>
<!--contact -->
<div id="contact" class="contact">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="titlepage">
                <h2>Contáctanos</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 paddimg-right">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <form>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <input class="form-control" placeholder="Nombre" type="text" name="Nombre">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <input class="form-control" placeholder="Email" type="text" name="Email">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <input class="form-control" placeholder="Teléfono" type="text" name="Teléfono">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <textarea class="textarea>" placeholder="Mensaje" type="text" name="Mensaje"></textarea>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <a href="#">Enviar</a>
                        </div>
                    </div>
                </form>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="map_section">
                    <figure><img src="{% static 'images/map.jpg' %}"></figure>
                </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 paddimg-left">
            <div class="Nursery-img">
                <figure>
                <img src="{% static 'images/contactimg.jpg' %}" alt="img"/>
                <div class="text-box">
                    <h3>Medio Ambiente</h3>
                </div>
                </figure>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- end contact -->
{% endblock contenido %}