{% extends 'base.html' %}
{% load static %}  
{% block contenido %}
<br>
<br>
<br>
<!--contact -->
<div id="contact" class="contact">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="titlepage">
                <h2>Contáctanos</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-5 col-lg-4 col-md-12 col-sm-12 paddimg-right">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-13">
                <form>
                    <div class="row">
                        <div class="form-control">
                        <form method="POST" style="margin: 200px">
                            <h1>Formulario de Contacto</h1>
                            <br>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="message {{ message.tags }}"> {{ message }} </div>
                                {% endfor %}
                            {% endif %}
                            <table>
                                {% csrf_token %}
                                {{ form }}
                            </table>
                            <input type="submit" value="Enviar">
                            <br>
                            <p></p>
                        </form>
                    </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
        <div class="col-xl-7 col-lg-8 col-md-12 col-sm-12 paddimg-left">
            <div class="Nursery-img">
                <figure>
                <img src="{% static 'images/contactimg.jpg' %}" alt="img"/>
                <div class="text-box">
                    <h3>Medio Ambiente</h3>
                </div>
                </figure>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- end contact -->
{% endblock %}