{% extends 'base.html' %}
{% load colaborador_tangs %}

{% block contenido %}
<center>
    {% if user.is_superuser or request.user|has_group:"Colaborador" %}
    <div class="container-fluid" style="margin: 300px">
        <h1>Eliminar comentario</h1>
        <p>¿Estás seguro de que quieres eliminar este comentario</p>
        <form method="POST" >
            {% csrf_token %}
            <input type="submit" value="Sí, eliminar">
            <a style="color: black;" href="{{% url 'object.get_absolute_url' %}}">No, cancelar</a>
        </form>
    </div>
    {% else %}
        <div class="container-fluid" style="margin: 300px;">
            <h1>Solo usuarios con permisos pueden acceder a esta página</h1>
        </div>
    {% endif %}
</center>
{% endblock %}
